ID=wayneindustries.discloud.app
TYPE=site
MAIN=backend/app.py
NAME=API Wayne
AVATAR=https://static.wikia.nocookie.net/batman/images/0/07/Wayne_Enterprises_%28Uncrate%29.png/revision/latest?cb=20230809160842
RAM=512
AUTORESTART=true
APT=python3-pip
START=pip install -r backend/requirements.txt
BUILD=python3 backend/app.py
VLAN=true